/* 유틸 */
* {padding: 0; margin: 0; text-decoration: none; list-style: none; box-sizing: border-box; color: inherit; border: none; outline: none;}
.w{ width: 100%;} .h {height: 100%;}
main{ overflow: hidden;}
.df {display: flex; } .js{ justify-content: start; } .je {justify-content: end;} .jc{justify-content: center;} .jsb { justify-content: space-between;}
.as {align-items: start;} .ae{ align-items: end;} .ac {align-items: center;} .fc {flex-direction: column;}
button, a, label, select{ cursor: pointer;}
button {background-color: transparent;}
.cp {cursor: pointer;}
.fw{ flex-wrap: wrap;}
section{ padding: 50px 0; position: relative;}
html { background-color: #f9fafb;}
.t {font-size: 60px; color:#333; font-family: 'impact'; font-weight: 400;}
.cm {color: #7744ee} .cs {color: #eee9ff} .cb{ color:#333} .cw1{ color: #fff} .cw2 { color: #f9fafb} .cw3 {color: #f5f5f5} .cg {color: #bbb}
.bm {background-color: #7744ee} .bs {background-color: #eee9ff} .bb{ background-color:#333} .bw1{ background-color: #fff} .bw2 { background-color: #f9fafb} .bw3 {background-color: #f5f5f5} .bg {background-color: #bbb}

.pa {position: absolute;} .pf{ position: fixed;} .pr {position: relative;}

.b5{ border-radius: 5px;}
.b10{ border-radius: 10px;}
.b15{ border-radius: 15px;}
.b20{ border-radius: 20px;}
.b100{ border-radius: 100%;}

.g5{ gap: 5px;}
.g10{ gap: 10px;}
.g15{ gap: 15px;}
.g60{ gap: 60px;}
.g40{ gap: 40px;}
.g50{ gap: 50px;}
.g20{ gap: 20px;}
.g25{ gap: 25px;}
.g15{ gap: 15px;}
.g30{ gap: 30px;}

.s {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.inner{ margin: 0 auto; max-width: 1400px; padding: 0 15px}

.oh {overflow: hidden;}

.hs { transition: .3s;}
.hs:hover{ scale: 1.05;}
.hd:hover{ filter: brightness(.9);}

.bi { background-position: center; background-size: cover; background-repeat: no-repeat;}

.btn1 {padding: .5em 1em;} .btn2 {padding: 1em 2em;}

.b {font-weight: bold;}


.f10 {font-size: 10px;}
.f12 {font-size: 12px;}
.f14 {font-size: 14px;}
.f16 {font-size: 16px;}
.f18 {font-size: 18px;}
.f20 {font-size: 20px;}
.f22 {font-size: 22px;}
.f24 {font-size: 24px;}
.f26 {font-size: 26px;}
.f28 {font-size: 28px;}
.f30 {font-size: 30px;}
.f40 {font-size: 40px;}
.f50 {font-size: 50px;}
.f60 {font-size: 60px;}

.bx1 {box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);}
.bx2 {box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);}

.tl {top: 0; left: 0;}
.tr {top: 0; right: 0;}
.bl {bottom: 0; left: 0;}
.bl {bottom: 0; right: 0;}

.ap{aspect-ratio: 1/1;}

.z-1{ z-index: -1;}
.z1 {z-index: 1;}
.z2 {z-index: 2;}
.z3 {z-index: 3;}
.z4 {z-index: 4;}
.z100 {z-index: 100;}

.drop {height: 0px; transition: .3s; transition-delay: .2s;}

.menu:hover .drop { height: 60px;}

.menu > *:hover {color:#763df2}
.drop > a:hover{ filter: brightness(.5);}

@keyframes slide {
    0%{ translate: 0 0;}
    30%{ translate: 0 0;}
    33%{ translate: -25% 0;}
    63%{ translate: -25% 0;}
    66%{ translate: -50% 0;}
    96%{ translate: -50% 0;}
    100%{ translate: -75% 0;}

}

.slide{ animation: slide 10s infinite}
.visual:hover .slide{animation-play-state: paused;} 

.price:has(.sale) .sale::before{content: '\\'}
.price:has(.sale) .origin{ opacity: .5; text-decoration: line-through;}
.price:not(:has(.sale)) .origin::before{ content: '\\';}

.p20 {padding: 20px;}

.sns > i {filter: brightness(.1);}
.sns > i:hover {filter: brightness(1);}

@keyframes loading {
    0% {opacity: .95; display: flex;}
    90% {opacity: .95; display: flex;}
    100%{ opacity: 0; display: none;}
}
@keyframes up {
    0%,100% {translate: 0 0;}
    50% {translate: 0 -30px;}
}

@media (min-width: 701px) {
    #logo {
        top: 20px;
        position: relative;
    }
}

#loading {
    animation: loading 4s forwards;
}
#loading > div:nth-of-type(1)  { animation: up 2s infinite 0s;}
#loading > div:nth-of-type(2)  { animation: up 2s infinite .3s;}
#loading > div:nth-of-type(3)  { animation: up 2s infinite .6s;}
#loading > div:nth-of-type(4)  { animation: up 2s infinite .9s;}